@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

body,
html {
  margin: 0;
}

.bgimg-1 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/image.png");
  height: 100vh;
}

.caption {
  width: 100%;
  height: 100vh;
  background-color: #2b292957;
  display: flex;
  flex-direction: column;
}

.topCont {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.headerCont {
  width: 100%;
  height: 90%;
  display: flex;
}

.iconImg {
  width: 45px;
  padding-right: 20px;
}

.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content:nth-child(2) {
  align-items: center;
}

h1 {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: white;
  font-size: 85px;
}

.name {
  display: flex;
  margin-left: 25px;
  height: 7em;
}

.unicStyle {
  margin-left: 2px;
  color: white;
}

.unicStyle:nth-child(2) {
  color: black;
}

.bar {
  border-top: 7px solid black;
  border-radius: 5px;
  width: 40%;
  margin-left: 25px;
}

.paragraphe {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 35px;
  margin-left: 25px;
  margin-top: 6px;
}

.butProjects {
  padding-left: 60px;
  padding-right: 60px;
  height: 5em;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease; /* Agrega una transición para un cambio suave */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.butProjects:hover {
  background-color: white; /* Cambia el fondo del botón a blanco */
  color: black; /* Cambia el color del texto a negro */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Aumenta el tamaño de la sombra en hover */
}

.butProjects::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 0;
  height: 0;
  border: 8px solid black; /* Cambia el tamaño y color del punto aquí */
  border-radius: 50%;
  animation: moveDot 4s linear infinite;
  z-index: 2; /* Para asegurarse de que el punto esté encima del borde */
}

@keyframes moveDot {
  0% {
    top: -4px;
    left: -4px;
    width: 0;
    height: 0;
  }
  25% {
    top: -4px;
    left: calc(100% - 4px);
    width: 0;
    height: 0;
  }
  50% {
    top: calc(100% - 4px);
    left: calc(100% - 4px);
    width: 0;
    height: 0;
  }
  75% {
    top: calc(100% - 4px);
    left: -4px;
    width: 0;
    height: 0;
  }
  100% {
    top: -4px;
    left: -4px;
    width: 0;
    height: 0;
  }
}

.section {
  width: 100%;
  height: 100vh;
  background-color: #d9d9d9;
}

.iconsTec {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contTec {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titleTec {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 66px;
  color: white;
  margin-left: 80px;
}

.second {
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 140px;
}

.carrousel {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* background-image: url("../../assets/vector.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom;*/
}

.positionC {
  width: 95%;
}

.imgMockup {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 1650px) {
}

@media screen and (max-width: 1550px) {
}

@media screen and (max-width: 1450px) {
}

@media screen and (max-width: 1420px) {
  .unicStyle {
    font-size: 70px;
  }
  .name {
    height: 5.5em;
  }
  .bar {
    margin-top: 7px;
  }
}

@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1300px) {
}
